body {
    font-family: johnny;
    margin: 0;
    padding: 0;
    background-color: rgb(36, 35, 35);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;   
    font-size: 80px;
}
 